<ion-header>

  <ion-navbar color="vk">
    <ion-title>Добавить расход</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label>Счет</ion-label>
        <ion-select
          id="account"
          required
          #category="ngModel"
          name="account"
          ngModel
          okText="Выбрать"
          cancelText="Отмена">
          <ion-option *ngFor="let account of accounts" [value]="account.title">{{account.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Категория</ion-label>
        <ion-select
          id="category"
          required
          #category="ngModel"
          name="category"
          ngModel
          okText="Выбрать"
          cancelText="Отмена">
          <ion-option *ngFor="let category of categories" [value]="category.title">{{category.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Сумма</ion-label>
        <ion-input type="number"
                   id="amount"
                   [ngModel]="1"
                   name="amount"
                   #amount="ngModel"
                   required
                   min="1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Описание</ion-label>
        <ion-input type="text"
                   id="description"
                   ngModel
                   name="description"
                   #description="ngModel"></ion-input>
      </ion-item>
      <div padding>
        <button [disabled]="f.invalid" type="submit" ion-button color="vk" block>Добавить расход</button>
      </div>
    </ion-list>
  </form>

</ion-content>
