<ion-header>

  <ion-navbar color="vk">
    <ion-title>Добавить расход</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label stacked>Введите сумму</ion-label>
        <ion-input
          type="number"
          id="amount"
          ngModel
          name="amount"
          #amount="ngModel"
          required
          min="1">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Выберите категорию</ion-label>
        <ion-select
          id="category"
          required
          #category="ngModel"
          name="category"
          [ngModel]="selectedCategoryTitle"
          okText="Выбрать"
          cancelText="Отмена">
          <ion-option *ngFor="let category of categories" [value]="category.title">{{category.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Выберите счет</ion-label>
        <ion-select
          id="account"
          required
          #category="ngModel"
          name="account"
          ngModel
          okText="Выбрать"
          cancelText="Отмена">
          <ion-option *ngFor="let account of accounts" [value]="account.title">{{account.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Описание расхода</ion-label>
        <ion-input
          type="text"
          id="description"
          ngModel
          name="description"
          #description="ngModel">
        </ion-input>
      </ion-item>
      <div padding>
        <button [disabled]="f.invalid" type="submit" ion-button color="vk" block>Добавить расход</button>
      </div>
    </ion-list>
  </form>

</ion-content>
