page-home {

  ion-grid.grid {
    padding: 0;
  }

  #expence, #accounts {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    .caard {
      width: 80px;
      height: 80px;
      margin: 10px 0;
      text-align: center;
      .title {
        color: grey;
        font-size: 90%;
        margin-bottom: 3px;
      }
      img {
        width: 45px;
      }
      .balance {
        font-size: 80%;
      }
    }
    .add-icon {
      padding-top: 19px;
    }
  }


  #accounts {
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    .caard {
      flex: 0 0 auto;
    }
  }


  #expence {
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    border-bottom: 0;
    .caard {
      padding-bottom: 0;
      //flex: 0 0 auto;
    }
  }
}
