<ion-header>
  <ion-navbar color="vk" class="my-nav">
    <ion-grid>
      <ion-row>
        <ion-col col-4>Баланс <br> {{balance}} &#8376;</ion-col>
        <ion-col col-4>Расходы <br> {{expences}} &#8376;</ion-col>
        <ion-col col-4>Бюджет <br> {{capacity}} &#8376;</ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <div id="accounts">
      <div class="caard" *ngFor="let a of accounts">
        <div class="title">{{a.title}}</div>
        <img src="{{a.icon}}" alt="">
        <div class="balance">{{a.balance}} &#8376;</div>
      </div>
      <div class="caard add-icon" (click)="addAccount()">
        <img src="https://image.flaticon.com/icons/svg/149/149145.svg" alt="">
      </div>
    </div>

    <div id="expence">
      <div class="caard" *ngFor="let c of categories" (click)="addRecord()">
        <div class="title">{{c.title}}</div>
        <img src="{{c.icon}}" alt="">
        <div class="balance">{{getSumCategory(c.title)}} &#8376;</div>
      </div>
      <div class="caard add-icon" (click)="addCategory()">
        <img src="https://image.flaticon.com/icons/svg/149/149145.svg" alt="">
      </div>
    </div>

  </ion-grid>
</ion-content>
